html {
    font-size: 62.5%;
}

h1 {
    text-align: center;
    margin: 50px 0;
}

h2 {
    font-size: 3rem;
}

h4 {
    font-size: 16px;
    font-weight: 700;
    text-align: justify;
}

header {
    padding: 20px 0 0 0;
    background: white;
    text-align: center;
}

#hero {
    background-image: url(../img/hero.jpg);
    height: 300px;
    background-size: cover;
}

#encabezado {
    margin: 30px 0;
}

#texto {
    display: inline-block;
    vertical-align: top;
}

.contenido-hero {
    margin-top: 100px;
    color: white;
}

.barra {
    padding: 20px 0;
    background: #741d51;
    /* Old browsers */
    background: -moz-linear-gradient(left, #741d51 0%, #e44e52 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #741d51 0%, #e44e52 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #741d51 0%, #e44e52 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#741d51', endColorstr='#e44e52', GradientType=1);
    /* IE6-9 */
}

.card {
    text-align: center;
    border: 1px solid #e1e1e1;
    background: white;
}

.card h4 {
    margin-bottom: 5px;
}

.footer {
    margin-top: 40px;
    padding-top: 40px;
    text-align: left;
    text-align: center;
}

body {
    margin: 0;
}